/*
 * Globals
 */

$fonts: "Lato", serif;
$nav-fonts: "Jua", sans-serif;

body {
  font-family: $fonts;
}

nav {
  font-family: $nav-fonts;
}

// Pad the brand link a small bit on the left so it doesn't look crap
nav .brand-logo {
  padding-left: 1em;
}

// Alerts
.card.alert-success {
  background-color: #43a047;
}
.card.alert-danger {
  background-color: #ff1744;
}
.card.alert-warning {
  background-color: #ffab40;
}
.card.alert-info {
  background-color: #039be5;
}
