// Globals
$fonts: "Lato", serif;
$nav-fonts: "Jua", sans-serif;

* {
    margin: 0;
    padding: 0;
}

html, body, .full-height {
    height: 100%;
}

body {
  font-family: $fonts;
}

nav {
  font-family: $nav-fonts;
}

// Pad the brand link a small bit on the left so it doesn't look crap
nav .brand-logo {
  padding-left: 1em;
}

// Alerts
.card.alert-success {
  background-color: #43a047;
}
.card.alert-danger {
  background-color: #ff1744;
}
.card.alert-warning {
  background-color: #ffab40;
}
.card.alert-info {
  background-color: #039be5;
}

// Tab Indicator Color
.tabs .indicator {
  background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(26, 35, 126, 0.2);
  outline: none;
}

// Fixed action button
.fixed-action-button {
  position: fixed;
  right: 56px;
  bottom: 56px;
}

// Form styling
label {
  color: #1a237e;
}
// Underline
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1a237e;
  -webkit-box-shadow: 0 1px 0 0 #1a237e;
  box-shadow: 0 1px 0 0 #1a237e;
}
// Label
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #1a237e;
}
// Checkbox
[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #1a237e;
  border-bottom: 2px solid #1a237e;
}

#logo {
  vertical-align: text-top;
}
// Select
.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #1a237e;
  color: #1a237e;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: #1a237e;
}
